/* Develop timeline */
.dev-timeline {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  gap: 80px;
  background: rgba(196, 208, 222, 0.15);
  height: 800px;
}

/* content */
.dev-timeline .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 20px;
  width: 984px;
  height: 546px;
}

/* timeline */
.dev-timeline .content .timeline {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  padding: 0px;
  width: 680px;
}

/* Round 497 */
.dev-timeline .content .timeline .round {
  width: 18px;
  height: 18px;

  background: #FFFFFF;
  border: 4px solid #7F84FF;
  border-radius: 50%;
  margin: 0px -2px;
}

/* Strip 499 */
.dev-timeline .content .timeline .strip {
  width: 317px;
  height: 3px;
  background: #7F84FF;
  margin: 0px -2px;
}

/* elements list */
.dev-timeline .content .list-items {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 984px;
}

/* 01 */
.dev-timeline .content .list-items .item {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  padding: 10px;
  gap: 22px;

  width: 320px;
  height: 100%;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 18px;
}

/* top section */
.dev-timeline .content .list-items .item .top {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px;
  gap: 22px;
  width: 100%;
}

/* title */
.dev-timeline .content .list-items .item .top .title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 100%;
}

/* icon */
.dev-timeline .content .list-items .item .top .title-box .icon {
  width: 20px;
}

/* Первая встреча */
.dev-timeline .content .list-items .item .top .title-box .text {
  position: relative;
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 132%; /* or 21px */
  z-index: 1;
}

/* SNOSKA */

.dev-timeline .content .list-items .item .top .title-box .snoska-anchor {
  position: absolute;
  top: -3px;
  right: -8px;
  color: #7F84FF;
}

.dev-timeline .content .list-items .snoska-box {
  position: absolute;
  top: -20px;
  left: 230px;
  width: 300px;
  z-index: 2;
}

.dev-timeline .content .list-items .snoska-box .text {
  padding: 18px 14px;
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  font-size: 1.2rem;
  line-height: 138%;
}

/* ---   END SNOSKA   --- */

.dev-timeline .content .list-items .item .top .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding-left: 4px;
  gap: 14px;
}

.dev-timeline .content .list-items .item .top .text-box .list-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
}

/* Frame 1727 Rectangle 503 */
.dev-timeline .content .list-items .item .top .text-box .list-item .dot-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  width: 10px;
}

.dev-timeline .content .list-items .item .top .text-box .list-item .dot {
  width: 4px;
  height: 4px;
  background: #7F84FF;
  border-radius: 50%;
  margin-top: 8px;
}

/* Совместно с Вами составим карту «ключевых» и «первичных» показателей. */
.dev-timeline .content .list-items .item .top .text-box .list-item .text {
  font-size: 1rem;
  line-height: 146%; /* or 20px */
}

/* result */
.dev-timeline .content .list-items .item .result-box {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 14px;
  gap: 10px;
  background: #F6F8FA;
  border-radius: 12px;
  /* box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.04); */
}

/* Затем мы подготовим для Вас таблицу под выбранные показатели. */
.dev-timeline .content .list-items .item .result-box .text {
  line-height: 138%; /* or 19px */
}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
