:root {
  --footer-first-col-width: 25%;
  --footer-content-col-width: 55%;
  --footer-last-col-width: 20%;
}
/* Footer */
.footer {
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
}

.footer .container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0;
  gap: 30px;
  width: var(--container);
  /* height: 500px; */
}

/* Frame 1740 */
.footer .container .content-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 100%;
}

/* Logo Frame 1737 */
.footer .container .content-row .col-logo {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 22px;
  width: var(--footer-first-col-width);
}
  
/* logo Ритм */
.footer .container .content-row .col-logo .logo {
  width: 222px;
  height: 30px;
  font-size: 1.8rem;
}

/* icon */
.footer .container .content-row .col-logo .logo-img {
  width: 30px;
  height: 30px;
}

/* text-box Frame 1732 */
.footer .container .content-row .col-logo .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 100%;
}

/* ИП Корзан Регина Олмерзаевна */
.footer .container .content-row .col-logo .text-box .text {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 130%; /* identical to box height */
  color: #111111;
}

/* Frame 1739 */
.footer .container .content-row .col-content {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  justify-content: center;
  padding: 6px 0px 0px;
  gap: 30px;
  width: var(--footer-content-col-width);
}

.footer .container .content-row .col-content.first-row {
  padding-top: 24px;
}

/* Frame 1735 Frame 1738 */
.footer .container .content-row .col-content .sub-col {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 50%;
}

/* Что такое панель руководителя? */
.footer .container .content-row .col-content .sub-col .link {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 130%; /* identical to box height */
  /* color: #111111; */
  cursor: pointer;
}

/* Frame 2 */
.footer .container .content-row .col-last {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 6px 0px 0px;
  gap: 10px;
  width: var(--footer-last-col-width);
}

/* Outline button */
.footer .container .content-row .col-last .button-box {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 12px;

  width: 102px;
  height: 40px;

  border: 1px solid rgba(127, 132, 255, 0.2);
  border-radius: 8px;
  cursor: pointer;
}

/* arrow-up */
.footer .container .content-row .col-last .button-box .arrow {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* Text */
.footer .container .content-row .col-last .button-box .text {
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 130%;/* identical to box height */
  color: #7F84FF;
  cursor: pointer;
}

.footer .container .content-row .col-last a:hover {
  text-decoration: none !important;
}

/* Frame 1743 1736 */
.footer .container .content-row.second-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 30px 0;
  gap: 30px;

  width: 100%;
  /* height: 36px; */
  border-top: 1px solid #dedff9;
}


/* Политика конфиденциальности */
.footer .container .content-row .politica {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 16px;/* identical to box height */
  text-align: center;
  text-decoration-line: underline;
  color: #6484F2;
}

.footer .container .content-row .politica:hover {
  text-decoration: none;
}


/* © 2024 Учебный центр Основа */
.footer .container .content-row .osnova-box {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 120%;/* identical to box height */
  text-align: left;
  color: #111111;
}

.sheco-desing {

}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
