:root {
  --get-demo-content-width: 980px;
}

/* Order demo */
.get-demo {
  display: flex;
  justify-content: center;
  margin-top: 80px;
  padding-top: 40px;
  gap: 40px;
  isolation: isolate;
  /* height: 550px; */
  background: rgba(196, 208, 222, 0.15);
}

.get-demo .container {
  position: relative;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: var(--get-demo-content-width);
  height: 100%;
}

/* title */
.get-demo .left-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 30px 0px 0px;
  width: 420px;
  height: 244px;

  z-index: 0;
}

/* logo-box */
.get-demo .logo-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 14px;
  width: 102px;
  height: 50px;
  background: #FFFFFF;
  border-radius: 10px;
}

/* Познакомим вас с нашим продуктом поближе */
.get-demo .title-box {
  width: 100%;
  margin-top: 20px;
}

.get-demo .title {
  width: 420px;
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 2.5rem; /* 36px;*/
  line-height: 132%; /* or 48px */
  text-align: left;
  color: #111111;
}

/* form */
.get-demo .right-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 40px;
  padding: 34px;
  gap: 30px;

  width: 372px;
  /* height: 388px; */

  background: #FFFFFF;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  z-index: 1;
}

/* Получите демо-версию панели */
/* Мы пришлём ссылку демо-версию панели */
.get-demo .right-box .title {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 130%; /* or 29px */
  color: #111111;
}


/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
