header {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 20px;
  height: 57px;
  margin-top: 30px;
  padding: 8px 8px 8px 16px;
  border-radius: 12px;
  background: #FFFFFF99;

  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  box-shadow: rgba(255, 255, 255, 0.9) 0rem 0rem 0.0625rem 0.0625rem inset, rgba(0, 0, 0, 0.05) 0rem 1.25rem 1.6875rem 0rem;
  backdrop-filter: blur(11px);
  z-index: 100;
}

.logo { 
  display: flex;
  align-items: center;
  justify-content: flex-start;
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 1.4rem;
  line-height: 1.3rem;
  gap: 4px;
  width: 80px;
  height: 24px;
  text-align: center;
}
.logo-img {
  width: 21px;
  padding-bottom: 4px;
}

.menu-links {
  display: flex;
  justify-content: space-between;
  font-size: 0.95rem;
  gap: var(--gap-base);
}

.menu-links a {
  text-decoration: none;
}


/* Button */
.menu-button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;

  width: 145px;
  height: 41px;

  background: #7F84FF;
  border-radius: 8px;
  border: none;
  
  /* Text */
  line-height: 1.2rem;
  color: #FFFFFF;
  cursor: pointer;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}

.menu-button:hover {
  background: #757BF6; /* 686dee;*/
}

header a {
  text-decoration: none !important;
}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  header {
    max-width: 100%;
    margin: 2px;
    gap: 10px;
  }

  .header-what-is, .header-timeline {
    display: none;
  }

  header .menu-button {
    width: 126px;
  }
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  header {
    max-width: 100%;
    margin: 2px;
  }
  
  .header-what-is, .header-timeline {
    display: none;
  }
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  header {
    max-width: 100%;
    margin: 2px;
  }
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  header {
    max-width: 100%;
    margin: 2px;
  }
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
