main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1090px;
  height: 799px;
  margin-top: 167px;
}

.main-title {
  display: flex;
  flex-direction: column;
  font-size: 4.2rem; /* 58px; */
  line-height: 5rem;
  margin-bottom: 2.5rem;
}

.main-subtitle {
  font-size: 1.7rem; /* 22px; */
}

/* background gradient */
.main-background {
  position: absolute;
  top: 414px;
  width: 922px;
  height: 552px;
  background: linear-gradient(90deg, #91B2F3 0%, #A074E9 100%);
  opacity: 0.3;
  filter: blur(150px);
}

/* Frame */
.main-frame {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  width: 762px;
  height: 472px;
  margin: 80px;
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 22px;
}

/* dashboard */
.main-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  gap: 24px;
  isolation: isolate;

  width: 730px;
  height: 440px;

  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 14px;

  overflow: hidden;
}

/* title */
.main-dashboard-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;

  width: 100%;
  z-index: 0;
}

/* Ритм компании «Мой пекарь» */
.main-dashboard-title-text {
  font-family: "Montserrat-SemiBold";
  font-weight: 700;
  font-size: 1.7rem;
  line-height: 2.1rem; /* 126% or 30px */
}
  
/* menu */
.main-dashboard-title-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 100%;
}
  
/* Управление */
.main-dashboard-title-menu-item {
  line-height: 1.3rem; /* 126% identical to box height, or 18px */
  color: #7F7F7F;
}

/* Отдел продаж */
.main-dashboard-title-menu-item.active {
  color: #111111;
}

/* ----- statistic ----- */
.main-d-s-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  z-index: 1;
}

/* TOP ROW */

.main-d-s-top-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  gap: 10px;
  width: 100%;
}

.main-d-s-top-row-item {
  /* Auto layout */
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
  row-gap: 12px;
  isolation: isolate;

  width: 220px;
  height: 140px;

  background: rgba(151, 71, 255, 0.06);
  color: #111111;
  box-shadow: inset 0px 0px 20px rgba(71, 22, 135, 0.08);
  border-radius: 22px;
  overflow: hidden;
}

.main-d-s-top-row-item-img {
  position: absolute;
  height: 90px;
}

.main-d-s-1 {
  top: 50px;
  left: 0px;
  width: 219px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-d-s-2 {
  top: 56px;
  left: 5px;
  width: 210px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-d-s-3 {
  top: 68px;
  left: 5px;
  width: 210px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Titles */
.main-d-s-top-row-item-title {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.4rem; /* identical to box height, 126% or 19px */
}

.main-d-s-top-row-item-value {
  font-family: "Montserrat-SemiBold";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2rem; /* 126%; or 28px */
}

/* млн.р. */
.main-d-s-top-row-item-value-text {
  font-size: 0.95rem;
  line-height: 1.2rem; /* 126% or 16px */
}

/* BOTTOM ROW */
.main-d-s-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 674px;
  height: 332px;
}

.main-d-s-bottom-row-box-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 20px;
  width: 674px;
  height: 332px;
  background: rgba(151, 71, 255, 0.06);
  box-shadow: inset 0px 0px 20px rgba(71, 22, 135, 0.08);
  border-radius: 22px;
}

.main-d-s-bottom-row-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 100%;
}

/* Продажи по видам продукции */
.main-d-s-bottom-row-title-text {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.3rem; /* identical to box height, 126%; or 19px */
}

/* products */
.main-d-s-bottom-row-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  height: 290px;
}

.main-d-s-bottom-row-products-box-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
  row-gap: 12px;
  isolation: isolate;
  width: 100%;
  height: 140px;
  background: rgba(151, 71, 255, 0.06);
  box-shadow: inset 0px 0px 20px rgba(71, 22, 135, 0.08);
  border-radius: 22px;
}

.main-d-s-bottom-row-products-box-1-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 100%;
  height: 51px;
  z-index: 0;
}

.main-d-s-bottom-row-products-box-1-text-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 100%;
  height: 22px;
}

/* Сумма продаж */
.main-d-s-bottom-row-products-box-1-text-title-text {
  width: 488px;
  height: 18px;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2rem; /* identical to box height, 126% or 18px */
  color: #111111;
}

/* tag */
.main-d-s-bottom-row-products-box-1-text-title-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 10px;
  width: 108px;
  height: 22px;
  background: rgba(151, 71, 255, 0.1);
  border-radius: 6px;
}

/* Выручка */
.main-d-s-bottom-row-products-box-1-text-title-tag-text {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2rem; /* identical to box height,126% or 14px */
  color: #3A126E;
}

/* numbers */
.main-d-s-bottom-row-products-box-1-text-numbers {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;
}

/* 317,3 */
.main-d-s-bottom-row-products-box-1-text-numbers-value {
  font-family: 'Montserrat-SemiBold';
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2rem; /* 126%; or 28px */
  color: #111111;
}

/* тысяч рублей */
.main-d-s-bottom-row-products-box-1-text-numbers-comment {
  font-size: 0.95rem;
  line-height: 1.2rem; /* 126%; or 16px */
  color: #111111;
}

/* graph */
.main-d-s-bottom-row-products-box-1-graph {
  position: absolute;
  width: 340px;
  height: 70px;
  left: 276px;
  top: 58px;
  z-index: 1;
}

/* blur */
.main-d-s-bottom-row-blur {
  position: absolute;
  width: 794px;
  height: 238px;
  left: calc(50% - 794px/2);
  bottom: -64px;
  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
  z-index: 2;
}

/* ADVANTAGE */
.main-d-s-advantage {
  position: absolute;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 16px;
  gap: 10px;
  background: rgba(255, 255, 255, 0.8);
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 12px;
}

.main-d-s-advantage-1 {
  width: 255px;
  left: -155px;
  bottom: 64px;
}

.main-d-s-advantage-title {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
}

.main-d-s-advantage-title-icon {
  width: 24px;
  height: 24px;
}
  
/* Настройка */
.main-d-s-advantage-1-title-text {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.8rem; /* 20px; */
  color: #3F7BEE;
}
  
/* Мы настраиваем - вы применяете! */
.main-d-s-advantage-1-content {
  line-height: 1.4rem; /* 20px; */
  width: 155px;
  color: #111111;
}


/* advantage 2 */
.main-d-s-advantage-2 {
  justify-content: center;
  align-items: center;
  gap: 20px;
  width: 240px;
  right: -172px;
  top: -41px;
}

/* Нужные и понятные элементы статистики */
.main-d-s-advantage-2-title {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.4rem; /* 130%; or 21px */
  text-align: center;
  width: 200px;
  color: #111111;
}

/* graph */
.main-d-s-advantage-2-graph {
  width: 150px;
}

/* advantage 3 */
.main-d-s-advantage-3 {
  width: 220px;
  right: -151px;
  bottom: 51px;
}

/* Google Таблицы */
.main-d-s-advantage-3-title-text {
  font-family: 'Montserrat-SemiBold';
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 1.5rem;
  width: 139px;
  color: #30772A;
}

/* Удобно и просто прямо в гугл таблице */
.main-d-s-advantage-3-content {
  line-height: 1.4rem;/* 140% or 20px */
  color: #111111;
  width: 188px;
  height: 40px;
}


/* TABS */

.main-d-s-tabs {
  position: absolute;
  left: calc(50% - 500px/2);
  top: 446px;

  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 8px;
  width: 500px;
  height: 43px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(10px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 8px;
}

/* Frame 23 */
.main-d-s-tabs-content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  margin: 0 auto;
  /* width: 434px; */
  height: 27px;
}

/* Frame 5 */
/* Статистика */
.main-d-s-tabs-content-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 10px;
  gap: 10px;
  border-radius: 4px;
  font-size: 0.9rem;
  line-height: 1.1rem;
  color: #111111;
}

/* Frame 7 */
.main-d-s-tabs-content-item.active {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 6px 10px;
  gap: 10px;
  background: rgba(156, 156, 156, 0.15);
  border-radius: 4px;
}

  
/* Frame 9 */
.main-d-s-tabs-selection {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  gap: 2px;
  margin: 0 auto;
  width: 33px;
  height: 27px;
  background: rgba(156, 156, 156, 0.15);
  border-radius: 4px;
}

/* Rectangle 17 */
.main-d-s-tabs-selection-rect {
  width: 3px;
  height: 3px;
  background: #111111;
  opacity: 0.7;
  border-radius: 10px;
}
