main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1090px;
  height: 799px;
  margin-top: 167px;
}

.main-title {
  display: flex;
  flex-direction: column;
  font-size: 4.2rem; /* 58px; */
  line-height: 5rem;
}

.main-subtitle {
  font-size: 1.7rem; /* 22px; */
  font-weight: 500;
  text-align: center;
}

/* background gradient */
.main-background {
  position: absolute;
  top: 414px;
  width: 922px;
  height: 552px;
  background: linear-gradient(90deg, #91B2F3 0%, #A074E9 100%);
  opacity: 0.3;
  filter: blur(150px);
}

/* Frame */
.main-frame {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 10px;

  width: 762px;
  height: 472px;
  margin: 40px 80px;
  background: rgba(255, 255, 255, 0.44);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 22px;
}

/* dashboard */
.main-dashboard {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 28px;
  gap: 24px;
  isolation: isolate;

  width: 730px;
  height: 440px;

  background: #FFFFFF;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(5px);
  /* Note: backdrop-filter has minimal browser support */
  border-radius: 14px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  overflow: hidden;
}

/* title */
.main-dashboard-title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 18px;

  width: 100%;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
  z-index: 0;
}

/* Ритм компании «Мой пекарь» */
.main-dashboard-title-text {
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 700;
  font-size: 2rem;
  line-height: 2.3rem; /* 126% or 30px */

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}
  
/* menu */
.main-dashboard-title-menu {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;
  width: 100%;
  
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}
  
/* Управление */
.main-dashboard-title-menu-item {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.3rem; /* 126% identical to box height, or 18px */
  color: #7F7F7F;
}

/* Отдел продаж */
.main-dashboard-title-menu-item.active {
  color: #111111;

  /* Inside auto layout */
  /* flex: none;
  order: 0;
  flex-grow: 0; */
}

/* ----- statistic ----- */
.main-d-s-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
  z-index: 1;
}

/* TOP ROW */

.main-d-s-top-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
  padding: 0px;
  /* gap: 10px; */
  width: 100%;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.main-d-s-top-row-item {
  /* Auto layout */
  position: relative;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
  row-gap: 12px;
  isolation: isolate;

  width: 220px;
  height: 140px;

  background: rgba(151, 71, 255, 0.06);
  color: #111111;
  box-shadow: inset 0px 0px 20px rgba(71, 22, 135, 0.08);
  border-radius: 22px;
  overflow: hidden;
  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

.main-d-s-top-row-item-img {
  position: absolute;
  height: 90px;
}

.main-d-s-1 {
  top: 50px;
  left: 0px;
  width: 219px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-d-s-2 {
  top: 56px;
  left: 5px;
  width: 210px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

.main-d-s-3 {
  top: 68px;
  left: 5px;
  width: 210px;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
}

/* Titles */
.main-d-s-top-row-item-title {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.4rem; /* identical to box height, 126% or 19px */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.main-d-s-top-row-item-value {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 1.2rem; /* 126%; or 28px */
  /* leading-trim and text-edge are draft CSS properties.
  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* млн.р. */
.main-d-s-top-row-item-value-text {
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.2rem;
  /* 126% or 16px */
  /* leading-trim and text-edge are draft CSS properties.

  Read more: https://drafts.csswg.org/css-inline-3/#leading-trim
  */
  leading-trim: both;
  text-edge: cap;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* BOTTOM ROW */
.main-d-s-bottom-row {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 674px;
  height: 332px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.main-d-s-bottom-row-box-1 {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 16px;
  gap: 20px;

  width: 674px;
  height: 332px;

  background: rgba(151, 71, 255, 0.06);
  box-shadow: inset 0px 0px 20px rgba(71, 22, 135, 0.08);
  border-radius: 22px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 1;
}

.main-d-s-bottom-row-title {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;

  width: 100%;
  /* width: 642px;
  height: 19px; */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Продажи по видам продукции */
.main-d-s-bottom-row-title-text {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.3rem; /* identical to box height, 126%; or 19px */

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* products */
.main-d-s-bottom-row-products {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;

  width: 100%;
  /* width: 642px; */
  height: 290px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  align-self: stretch;
  flex-grow: 0;
}

.main-d-s-bottom-row-products-box-1 {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: flex-start;
  align-content: flex-start;
  padding: 16px;
  row-gap: 12px;
  isolation: isolate;

  width: 100%;
  /* width: 642px; */
  height: 140px;

  background: rgba(151, 71, 255, 0.06);
  box-shadow: inset 0px 0px 20px rgba(71, 22, 135, 0.08);
  border-radius: 22px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

.main-d-s-bottom-row-products-box-1-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;

  width: 100%;
  /* width: 610px; */
  height: 51px;

  flex: none;
  order: 0;
  flex-grow: 1;
  z-index: 0;
}

.main-d-s-bottom-row-products-box-1-text-title {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 14px;

  width: 100%;
  /* width: 610px; */
  height: 22px;

  /* Inside auto layout */
  flex: none;
  order: 0;
  align-self: stretch;
  flex-grow: 0;
}

/* Сумма продаж */
.main-d-s-bottom-row-products-box-1-text-title-text {
  width: 488px;
  height: 18px;

  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.2rem; /* identical to box height, 126% or 18px */

  color: #111111;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 1;
}

/* tag */
.main-d-s-bottom-row-products-box-1-text-title-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 4px 10px;
  gap: 10px;

  width: 108px;
  height: 22px;

  background: rgba(151, 71, 255, 0.1);
  border-radius: 6px;

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* Выручка */
.main-d-s-bottom-row-products-box-1-text-title-tag-text {
  font-family: "Montserrat-SemiBold";
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 1.2rem; /* identical to box height,126% or 14px */

  color: #3A126E;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* numbers */
.main-d-s-bottom-row-products-box-1-text-numbers {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  padding: 0px;
  gap: 4px;

  width: 152px;
  height: 15px;
  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* 317,3 */
.main-d-s-bottom-row-products-box-1-text-numbers-value {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 700;
  font-size: 1.8rem;
  line-height: 1.2rem; /* 126%; or 28px */
  /* leading-trim and text-edge are draft CSS properties. Read more: https://drafts.csswg.org/css-inline-3/#leading-trim */
  leading-trim: both;
  text-edge: cap;
  color: #111111;

  /* Inside auto layout */
  flex: none;
  order: 0;
  flex-grow: 0;
}

/* тысяч рублей */
.main-d-s-bottom-row-products-box-1-text-numbers-comment {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 1.2rem; /* 126%; or 16px */
  /* leading-trim and text-edge are draft CSS properties. Read more: https://drafts.csswg.org/css-inline-3/#leading-trim */
  leading-trim: both;
  text-edge: cap;

  color: #111111;


  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
}

/* graph */
.main-d-s-bottom-row-products-box-1-graph {
  position: absolute;
  width: 340px;
  height: 70px;
  left: 276px;
  top: 58px;

  /* border: 2.4px solid #9747FF; */

  /* Inside auto layout */
  flex: none;
  order: 1;
  flex-grow: 0;
  z-index: 1;
}

/* blur */
.main-d-s-bottom-row-blur {
  position: absolute;
  width: 794px;
  height: 238px;
  left: calc(50% - 794px/2);
  bottom: -64px;

  background: rgba(255, 255, 255, 0.01);
  backdrop-filter: blur(2px);
  /* Note: backdrop-filter has minimal browser support */

  /* Inside auto layout */
  flex: none;
  order: 2;
  flex-grow: 0;
  z-index: 2;
}
