/* Prices */
:root {
  --el-strip-width: 52px;
  --el-width-7: 830px;
  --el-width-6: calc(var(--el-width-7) - var(--el-strip-width) * 2);
  --el-width-5: calc(var(--el-width-6) - var(--el-strip-width) * 2);
  --el-width-4: calc(var(--el-width-5) - var(--el-strip-width) * 2);
  --el-width-3: calc(var(--el-width-4) - var(--el-strip-width) * 2);
  --el-width-2: calc(var(--el-width-3) - var(--el-strip-width) * 2);
}

.prices {
  position: relative;
  margin-top: 26px;
  width: var(--container);
  overflow-y: hidden;
}

.prices .title-box {
  margin-top: 62px;
}

.prices .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  /* height: var(--el-width-7); */
}

/* price */
.prices .content .container-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-top: 40px;
  margin-bottom:80px;
  padding: 10px;
  width: 440px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 30px;
}

/* content */
.prices .content .container-box .offer-box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 26px 24px;
  gap: 22px;
  width: 420px;
}

/* logo Ритм */
.prices .content .container-box .offer-box .logo {
  color: #7F84FF;
}

/* price action block */
.prices .content .container-box .offer-box .price-action-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 30px;
  width: 296px;
}

/* text */
.prices .content .container-box .offer-box .price-action-box .text-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 100%;
}

/* title */
.prices .content .container-box .offer-box .price-action-box .text-box .title-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  margin: 0;
  padding: 0px;
  gap: 12px;
  width: 290px;
  height: 21px;
}

/* от 3.500₽ */
.prices .content .container-box .offer-box .price-action-box .text-box .title-box .value {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 2.1rem;
  line-height: 132%; /* or 40px */
  color: #111111;
}

/* / */
.prices .content .container-box .offer-box .price-action-box .text-box .title-box .divider {
  width: 5px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 132%; /* or 18px */
  color: #828282;
}

/* за показатель* */
.prices .content .container-box .offer-box .price-action-box .text-box .title-box .za-pokaz {
  width: 109px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 132%; /* or 18px */
  color: #828282;
}

/* Разработка за 2 встречи (онлайн) */
.prices .content .container-box .offer-box .price-action-box .text-box .description {
  width: 249px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 132%; /* or 18px */
  text-align: center;
  color: #111111;
}

/* Button */
.prices .content .container-box .offer-box .price-action-box .menu-button {
  width: 296px;
  height: 41px;
}

/* description */
.prices .content .container-box .description-box {
  display: flex;
  flex-direction: column;
  padding: 18px 24px;
  gap: 10px;
  width: 100%;
  background: rgba(196, 208, 222, 0.15);
  border-radius: 22px;
}

/* * За настроенный показатель на панеле и не важно сколько понадобиться для этого показателей в таблице. Например, если для одного показателя на панеле может требоваться вести 4 показателя в таблице, то цена всё равно 3.500р, так как на панеле 1. */
.prices .content .container-box .description-box .text {
  display: flex;
  align-items: center;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 160%; /* or 21px */
  color: #111111;
}

  

/* background radial color */
/* .prices .content .radial {
  position: absolute;
  width: var(--el-width);
  height: var(--el-width);
  left: calc(50% - var(--el-width) / 2);
  top: calc(50% - var(--el-width) / 2);
} */

/* Ellipse 2 */
.prices .ellipse2 {
  position: absolute;
  top: var(--el-strip-width);
  left: var(--el-strip-width);
  width: var(--el-width-2);
  height: var(--el-width-2);
  border-radius: 50%;
  background: rgba(127, 132, 255, 0.03);
  z-index: 0;
}

/* Ellipse 3 */
.prices .ellipse3 {
  position: absolute;
  top: var(--el-strip-width);
  left: var(--el-strip-width);
  width: var(--el-width-3);
  height: var(--el-width-3);
  border-radius: 50%;
  background: rgba(127, 132, 255, 0.03);
  z-index: 0;
}

/* Ellipse 4 */
.prices .ellipse4 {
  position: absolute;
  top: var(--el-strip-width);
  left: var(--el-strip-width);
  width: var(--el-width-4);
  height: var(--el-width-4);
  border-radius: 50%;
  background: rgba(127, 132, 255, 0.03);
  z-index: 0;
}

/* Ellipse 5 */
.prices .ellipse5 {
  position: absolute;
  top: var(--el-strip-width);
  left: var(--el-strip-width);
  width: var(--el-width-5);
  height: var(--el-width-5);
  border-radius: 50%;
  background: rgba(127, 132, 255, 0.03);
  z-index: 0;
} 

/* Ellipse 6 */
.prices .ellipse6 {
  position: absolute;
  top: var(--el-strip-width);
  left: var(--el-strip-width);
  width: var(--el-width-6); /* 726.25px;*/
  height: var(--el-width-6);
  border-radius: 50%;
  background: rgba(127, 132, 255, 0.03);
  z-index: 0;
}

/* Ellipse 7 */
.prices .ellipse7 {
  position: absolute;
  top: 0;
  left: calc(var(--container) / 2 - var(--el-width-7) / 2);
  width: var(--el-width-7);
  height: var(--el-width-7);
  border-radius: 50%;
  background: rgba(127, 132, 255, 0.03);
  z-index: 0;
}

/* ADVANTAGE */

.prices .content .container-box .offer-box .advantage {
  position: absolute;
  top: 10px;
  right: -250px;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 20px;
  gap: 12px;
  width: 220px;
  /* height: 153px; */
  background: rgba(255, 255, 255, 0.5);
  box-shadow: 0px 6px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}

/* Уже включена */
.prices .content .container-box .offer-box .advantage .title {
  font-family: 'Montserrat-SemiBold';
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 132%; /* or 21px */
  color: #111111;
}

/* list */
.prices .content .container-box .offer-box .advantage .list {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
}

/* 01 */
.prices .content .container-box .offer-box .advantage .list .item-box {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 6px;
}

/* check */
.prices .content .container-box .offer-box .advantage .list .item-box .checkbox {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 4px;
  gap: 10px;
  width: 20px;
  height: 20px;
  background: rgba(83, 186, 66, 0.14);
  border-radius: 6px;
}

/* icon */
.prices .content .container-box .offer-box .advantage .list .item-box .checkbox .icon {
  width: 11px;
  height: 9px;
}

/* Настройка */
.prices .content .container-box .offer-box .advantage .list .item-box .checkbox .text {
  font-family: 'Montserrat-Regular';
  font-weight: 500;
  font-size: 1rem;
  line-height: 132%; /* or 18px */
  color: #111111;
}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
