@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/static/Montserrat-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/montserrat/static/Montserrat-SemiBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/static/Montserrat-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
  cursor:default;
}

html {
  font-size: 14px;
  /* scroll-behavior: smooth; */
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 500;
  background-color: white;
  color: #111111;
}

:root {
  --container: 1110px;
  --gap-base: 10px;
}

a {
  color:#111111;
  cursor: pointer;
}

a:visited {
  color:#111111;
}

.not-visible {
  display: none !important;
}

.full-width {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  min-height: 100px;
  margin-top: 5.71rem;
}

section.container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container);
  margin-top: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container);
}

/* TITLE */

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.title {
  font-family: "Montserrat-Bold";
  font-size: 3.1rem; /* 44px; */
  font-weight: 700;
  line-height: 54.56px;
  text-align: center;
}

/* tag */
.title-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  margin-bottom: 20px;
  gap: 10px;
  background-color: #FFFFFF;
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

/* Элементы панели */
.title-tag-text {
  font-size: 1.1rem;
  line-height: 1.2rem; /* 126% or 20px */
  color: #111111;
}

/* @media screen and (max-width: 1230px) {
  .container {
    padding: 0 40px;
  }
}
@media screen and (max-width: 800px) {
  .container {
    padding: 0 20px;
  }
}
@media screen and (max-width: 320px) {
  .container {
    padding: 0 10px;
  }
} */

.semi-bold {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}

.p-0 {
  padding: 0;
}

.ml-210 {
  margin-left: 210px !important;
}

.text-aling-left {
  text-align: left;
}

/* ----------------- */
/*       COLORS      */
/* ----------------- */

.bg-grey {
  background: rgba(196, 208, 222, 0.15);
}

/* ----------------- */
/*        FLEX       */
/* ----------------- */

.flex {
  display: flex;
}
.row {
  flex-direction: row !important;
}
.flex-left {
  align-items: flex-start !important;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}


/* ------------------------- */
/*    НЕПОДГРУЖАЕМЫЕ СТИЛИ   */
/* ------------------------- */

.get-demo .right-box .input-box .input-item {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 17px;
  /* identical to box height */
  background: inherit;
  color: #111111;
  width: 100%;
  border: none;
  cursor: text;
}

.get-demo .right-box .input-box .input-item:active,
.get-demo .right-box .input-box .input-item:focus,
.get-demo .right-box .input-box .input-item:focus-visible {
  border: none;
  outline: none;
}

.get-demo .right-box .input-box .input-item::placeholder {
  font-size: 1rem;
}

/* input[type=text]::-webkit-input-placeholder {
input[type=text]::-moz-placeholder { */

/* Button */
.get-demo .btn-box {
  /* display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; */
  padding: 18px 16px;
  gap: 10px;
  width: 100%;

  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  background: #7F84FF;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}

.get-demo .btn-box:hover {
  background: #757BF6;
}

.get-demo .helper-description {
  font-size: 0.9rem;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
}

/* image */
.get-demo .image-box {
  position: absolute;
  width: 380px;
  left: 260px;
  bottom: 0;

  z-index: 2;
}
