@font-face {
  font-family: "Montserrat-Regular";
  src: url("../fonts/montserrat/static/Montserrat-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-SemiBold";
  src: url("../fonts/montserrat/static/Montserrat-SemiBold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat-Bold";
  src: url("../fonts/montserrat/static/Montserrat-Bold.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

* {
  box-sizing: border-box;
}

html {
  font-size: 14px;
  /* scroll-behavior: smooth; */
  cursor: default;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: "Montserrat-Regular";
  font-style: normal;
  font-weight: 500;
  background-color: white;
  color: #111111;
}

:root {
  --container: 1110px;
  --gap-base: 10px;
}

a {
  text-decoration: none;
  color:#111111;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
  color: #000;
}

a:visited {
  color:#111111;
}

.not-visible {
  display: none !important;
}

.full-width {
  display: flex;
  justify-content: center;
  width: 100%;
}

section {
  margin-top: 5.71rem;
}

section.container-small {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container);
  margin-top: 4rem;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  max-width: var(--container);
}

/* TITLE */

.title-box {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 700px;
}

.title {
  font-family: "Montserrat-Bold";
  font-size: 3.1rem; /* 44px; */
  font-weight: 700;
  line-height: 54.56px;
  text-align: center;
}

/* tag */
.title-tag {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px 10px;
  margin-bottom: 20px;
  gap: 10px;
  background-color: #FFFFFF;
  backdrop-filter: blur(10px);
  border-radius: 8px;
}

/* Элементы панели */
.title-tag-text {
  font-size: 1.1rem;
  line-height: 1.2rem; /* 126% or 20px */
  color: #111111;
}

.semi-bold {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
}

.p-0 {
  padding: 0;
}

.ml-210 {
  margin-left: 210px !important;
}

.text-aling-left {
  text-align: left;
}

/* ----------------- */
/*       COLORS      */
/* ----------------- */

.bg-grey {
  background: rgba(196, 208, 222, 0.15);
}

/* ----------------- */
/*        FLEX       */
/* ----------------- */

.flex {
  display: flex;
}
.row {
  flex-direction: row !important;
}
.flex-left {
  align-items: flex-start !important;
}
.column {
  flex-direction: column;
}
.align-center {
  align-items: center;
}
.justify-center {
  justify-content: center;
}
.justify-space-between {
  justify-content: space-between;
}


/* ------------------------- */
/*    НЕПОДГРУЖАЕМЫЕ СТИЛИ   */
/* ------------------------- */

/* form elements */
.form-elements {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 100%;
}

/* inputs */
.inputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 5px;
  width: 100%;
  cursor: text;
}

/* input */
/* .input-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 18px 16px;
  gap: 10px;
  width: 100%;
  background: #F9FAFD;
  border: 1px solid #EFF3F8;
  border-radius: 8px;
  cursor: text;
} */

.input-item {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1.3rem;
  line-height: 130%; /* identical to box height */
  background: inherit;
  color: #111111;
  width: 100%;
  padding: 18px 16px;
  border: 1px solid #EFF3F8;
    /* border: none; */
  background: #F9FAFD;
  border-radius: 8px;
  cursor: text;
}

.input-item:active,
.input-item:focus,
.input-item:focus-visible {
  border: none;
  outline: none;
}

.input-item::placeholder {
  font-size: 1rem;
}

.inputs .helper {
  padding-left: 18px;
  font-size: 0.8rem;
  color: #d00000;
}

/* Button */
.btn-box {
  padding: 18px 16px;
  gap: 10px;
  width: 100%;

  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 120%;
  background: #7F84FF;
  color: #FFFFFF;
  border-radius: 8px;
  border: none;
  cursor: pointer;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}

.btn-box:hover {
  background: #757BF6;
}

.btn-box:disabled {
  background: #c0c2c6;
}

.get-demo .helper-description {
  font-size: 0.9rem;
  margin-top: 8px;
  margin-bottom: 8px;
  margin-left: 12px;
}

/* image */
.get-demo .image-box {
  position: absolute;
  width: 380px;
  left: 260px;
  bottom: 0;
  z-index: 2;
}

/* POPUPS */
.popup {
  display: none; /* Скрываем форму по умолчанию */
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000;
}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-height: 400px) {
  .popup {
    align-items: flex-start;
    overflow-y: scroll;
    padding: 24px 0;
  }
}


/* container - success | failed */
.popup .container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 34px;
  gap: 30px;
  isolation: isolate;

  width: 380px;
  /* height: 278px; */

  background: #FFFFFF;
  backdrop-filter: blur(5px);
  border-radius: 28px;
}

/* Content Frame 1744 */
.popup .container .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 16px;
  width: 100%;
  /* width: 252px;
  height: 139px; */
  z-index: 0;
}

/* Frame 1745 */
.popup .container .content .header {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 12px;
  width: 100%;
  /* width: 177px;
  height: 69px; */
}

/* check-verified-01 */
.popup .container .content .header .icon {
  width: 34px;
  height: 34px;
}

/* Запрос отправлен */
.popup .container .content .header .title {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 130%; /* or 23px */
  text-align: center;
  color: #111111;
}

/* x */
.close-btn {
  position: absolute;
  width: 20px;
  height: 20px;
  right: 18px;
  top: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  z-index: 2;
  cursor: pointer;
}


/* Icon */
.close-btn .close-btn-icon {
  width: 10px;
  height: 10px;
  cursor: pointer;
}

/* В ближайшее время мы подготовим все материалы и свяжемся с Вами для консультации */
.popup .container .content .description {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 140%; /* or 18px */
  text-align: center;
  color: #606060;
}

/* Gray button */
.popup .container .button {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 12px 16px;
  gap: 10px;
  width: 100%;
  background: #F3F7FC;
  border-radius: 8px;
  z-index: 2;
  cursor: pointer;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}

.popup .container .button:hover {
  background: #eaeef3;
}

/* Text */
.popup .container .button .text {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 130%; /* identical to box height */
  color: #233040;
}



/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  :root {
    --container: 100%;
    --gap-base: 5px;
  }

  section {
    margin-top: 4rem;
  }

  section.container-small {
    padding: 0 6px;
  }

  .container {
    padding: 0 6px;
    max-width: 100%;
  }

  .title-box {
    width: 100%;
  }

  .title-tag-text {
    font-size: 1rem;
    line-height: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 130%; /* identical to box height */
  }
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  :root {
    --container: 100%;
    --gap-base: 5px;
  }

  section {
    margin-top: 4rem;
  }

  section.container-small {
    padding: 0 6px;
  }

  .container {
    padding: 0 6px;
    max-width: 100%;
  }

  .title-box {
    width: 100%;
  }

  .title-tag-text {
    font-size: 1rem;
    line-height: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 130%; /* identical to box height */
  }
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  :root {
    --container: 100%;
    --gap-base: 5px;
  }

  section {
    margin-top: 4rem;
  }

  section.container-small {
    padding: 0 6px;
  }

  .container {
    padding: 0 6px;
    max-width: 100%;
  }

  .title-box {
    width: 100%;
  }

  .title-tag-text {
    font-size: 1rem;
    line-height: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 130%; /* identical to box height */
  }
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --container: 100%;
    --gap-base: 5px;
  }

  section {
    margin-top: 4rem;
  }

  section.container-small {
    padding: 0 6px;
  }

  .container {
    padding: 0 12px;
    max-width: 100%;
  }

  .title-box {
    width: 100%;
  }

  .title-tag-text {
    font-size: 1rem;
    line-height: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 130%; /* identical to box height */
  }
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  :root {
    --container: 100%;
  }

  section {
    margin-top: 4rem;
  }

  .title-box {
    width: 100%;
  }

  .title-tag-text {
    font-size: 1rem;
    line-height: 1rem;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 130%; /* identical to box height */
  }
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
 
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  .title-box {
    width: 100%;
  }

  .title {
    width: 100%;
    font-size: 1.5rem;
    line-height: 130%; /* identical to box height */
  }
}
