:root {
  --use-examples-content-width: 920px;
  --use-examples-first-row-height: 600px;
  --use-examples-first-row-frame-width: 730px;
  --use-examples-first-row-frame-height: 410px;
  --use-examples-first-row-slide-element: 20px;
  --use-examples-second-row-height: 480px;
}

/* content */
.use-examples-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: calc(var(--gap-base) * 3);
  isolation: isolate;

  width: var(--use-examples-content-width);
  margin-top: 20px;
}

/* --------------------- */
/*         1st ROW       */
/* --------------------- */
.use-examples-content .row-item {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background: rgba(196, 208, 222, 0.15);
  border-radius: 20px;
}

.use-examples-content .first-row {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: var(--use-examples-content-width);
  height: var(--use-examples-first-row-height);
  margin-top: 30px;
}

.use-examples-content .description {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 1.3rem;
  line-height: 144%; /* or 26px */
  text-align: center;
  color: #111111;
  padding-top: 20px;
}

/* Продукт спроектирован так, чтобы вы могли не только детально изучать каждый ключевой показатель, но и одним лишь взглядом определить узкие места в компании */
.use-examples-content .first-row .description {
  width: 660px;
  margin-top: 40px;
}

/* frame */
.use-examples-content .frame {
  position: relative;

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  isolation: isolate;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 22px 160px rgba(0, 0, 0, 0.04), 0px 24px 160px rgba(0, 0, 0, 0.05);
}

.use-examples-content .first-row-frame {
  width: var(--use-examples-first-row-frame-width);
  margin-top: 49px;
  border-radius: 20px 20px 0px 0px;
}

/* right image */
.use-examples-content .first-row .right-image {
  width: 100%;
  border-radius: 20px 20px 0px 0px;
}

/* left image */
.use-examples-content .first-row .left-image-box {
  position: absolute;
  left: 0px;
  top: 0px;
  width: calc(var(--use-examples-first-row-frame-width) / 2 + 40px); /* 380px; */
  height: 100%;
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
/* Чтобы плавно туда-сюда уменьшилась и увеличилась картинка */
.examples-shrink-1 {
  width: calc(var(--use-examples-first-row-frame-width) / 2 + 40px - 200px) !important;
  transition: width 1s ease-in-out;
  --webkit-transition: width 1s ease-in-out;
}
.examples-shrink-2 {
  width: calc(var(--use-examples-first-row-frame-width) / 2 + 40px + 100px) !important;
  transition: width 1s ease-in-out;
  --webkit-transition: width 1s ease-in-out;
}
.examples-shrink-3 {
  width: calc(var(--use-examples-first-row-frame-width) / 2 + 40px) !important;
  transition: width 1s ease-in-out;
  --webkit-transition: width 1s ease-in-out;
}

.use-examples-content .first-row .left-image {
  height: var(--use-examples-first-row-frame-height);
}

/* slide element */
.use-examples-content .first-row .slide-element {
  position: absolute;
  left: calc(var(--use-examples-first-row-frame-width) / 2 + 40px - var(--use-examples-first-row-slide-element)); /* 371px; */
  top: 0px;
  display: flex;
  justify-content: center;

  width: var(--use-examples-first-row-slide-element); /* 18px; */
  height: var(--use-examples-first-row-frame-height); /* 318px;*/
  background: rgba(241, 241, 241, 0.749);
  z-index: 10;
}

/* Чтобы плавно туда-сюда уменьшилась и увеличилась картинка */
.examples-shrink-slide-1 {
  left: calc(var(--use-examples-first-row-frame-width) / 2 + 40px - var(--use-examples-first-row-slide-element) - 200px) !important;
  transition: left 1s ease-in-out;
  --webkit-transition: left 1s ease-in-out;
}

.examples-shrink-slide-2 {
  left: calc(var(--use-examples-first-row-frame-width) / 2 + 40px - var(--use-examples-first-row-slide-element) + 100px) !important;
  transition: left 1s ease-in-out;
  --webkit-transition: left 1s ease-in-out;
}

.examples-shrink-slide-3 {
  left: calc(var(--use-examples-first-row-frame-width) / 2 + 40px - var(--use-examples-first-row-slide-element)) !important;
  transition: left 1s ease-in-out;
  --webkit-transition: left 1s ease-in-out;
}

.use-examples-content .first-row .slide-element:hover {
  cursor: col-resize;
}

/* Rectangle 492 */
.use-examples-content .first-row .slide-element .col-stripe {
  width: 4px;
  height: var(--use-examples-first-row-frame-height);
  background: #7F84FF;
}

/* Rectangle 493 */
.use-examples-content .first-row .slide-element .rectangle {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 18px;
  height: 26px;
  top: calc(50% - 26px/2);
  background: #7F84FF;
  border-radius: 6px;
}

.use-examples-content .first-row .slide-element .rectangle-img {
  width: 8px;
}

/* --------------------- */
/*       ADVANTAGES      */
/* --------------------- */

.advantage-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.08);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 20;
}

.advantage-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;

  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

.advantage-text {
  padding: 18px 14px;
  gap: 12px;

  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 132%; /* or 17px */
  letter-spacing: 0.01em;
  background: #FFFFFF;
  color: #000000;
  border-radius: 14px;
}

/* Дашборд для быстрого и наглядного контроля за ситуацией компании */
.use-examples-content .first-row .frame .advantage-right {
  position: absolute;
  top: 206px;
  right: -62px;
  width: 212px;
}

/* Таблица для детального и глубокого анализа деятельности */
.use-examples-content .first-row .frame .advantage-left {
  position: absolute;
  top: 19px;
  left: -61px;
  width: 212px;
}


/* --------------------- */
/*         2st ROW       */
/* --------------------- */

.use-examples-content .second-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: calc(var(--gap-base) * 3);

  width: var(--use-examples-content-width);
  height: var(--use-examples-second-row-height);

  /* z-index: 3; */
}

/* 1 */
.use-examples-content .second-row .left-frame,
.use-examples-content .second-row .right-frame {
  position: relative;
  width: calc(var(--use-examples-content-width) / 2 - var(--gap-base) / 2);
  height: var(--use-examples-second-row-height); /* 440px; */
}


/* Видно, что на последней недели произошло снижение, но динамика (тренд) направлен вверх */
.use-examples-content .second-row .description {
  padding: 30px;
  padding-top: 28px;
  /* z-index: 0; */
}

/* image */
.use-examples-content .second-row .image-box {
  width: 288px;
  height: 295px;
  border: 2px solid #FFFFFF;
  border-radius: 12px;
  overflow: hidden;
  /* z-index: 1; */
}

.use-examples-content .second-row .image {
  width: 288px;
}

/* advantage */
/* Решение: продолжать делать то, что делали (так как это приводит к системному росту). */
.use-examples-content .second-row .advantage-left {
  position: absolute;
  left: calc(50% - 360px/2 + 0.5px);
  bottom: 24px;
  width: 360px;
  /* z-index: 2; */
}

/* advantage */
/* Решение: нужно срочно принимать меры… (менять Маркетолога или разработать новую программу продвижения). */
.use-examples-content .second-row .advantage-right {
  position: absolute;
  left: calc(50% - 360px/2 + 0.5px);
  bottom: 11px;
  width: 360px;
  /* z-index: 2; */
}


/* --------------------- */
/*         3st ROW       */
/* --------------------- */

.use-examples-content .third-row {
  width: 100%;
}

.use-examples-content .third-row .description {
  /* width: 750px; */
  padding: 30px;
  padding-top: 28px;
  z-index: 0;
}

/* CleanShot 2024-05-27 at 20.59 1 */
.use-examples-content .third-row .image {
  width: 530px;
  border: 2px solid #FFFFFF;
  border-radius: 12px 12px 0 0;
  z-index: 1;
}

/* Решение: найти причину и устранить её (и судя по графику - это следовало сделать уже давно). */
.use-examples-content .third-row .advantage-third-row {
  position: absolute;
  left: calc(50% - 290px/2 + 296px);
  bottom: 113px;
  width: 290px;
  z-index: 2;
}
 
/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  :root {
    --use-examples-content-width: 100%;
    --use-examples-first-row-frame-width: 100%;
    --use-examples-first-row-height: 300px;
    --use-examples-first-row-frame-height: 180px;
    --use-examples-second-row-height: auto;
  }

  .use-examples-content .first-row {
    margin: 0;
  }

  .use-examples-content .first-row .description {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .use-examples-content .first-row-frame {
    margin-top: 20px;
    overflow-y: hidden;
  }

  .use-examples-content .first-row .frame .advantage-right,
  .use-examples-content .first-row .frame .advantage-left {
    display: none;
  }

  .use-examples-content .second-row {
    flex-direction: column;
    height: auto;
  }

  .use-examples-content .second-row .image-box {
    height: auto;
  }

  .use-examples-content .second-row .row-item {
    height: 430px;
    margin-bottom: 50px;
  }

  .use-examples-content .second-row .left-frame,
  .use-examples-content .second-row .right-frame {
    width: 100%;
  }

  .use-examples-content .second-row .description {
    padding: 8px;
    padding-top: 18px;
  }

  .use-examples-content .second-row .advantage-left {
    bottom: -35px;
    left: 0;
    width: 100%;
  }

  .use-examples-content .description {
    font-size: 1.1rem;
  }

  .use-examples-content .second-row .advantage-right {
    width: 100%;
    left: 0;
  }

  .use-examples-content .third-row .image {
    width: 100%;
  }

  .use-examples-content .third-row .advantage-third-row {
    left: 10px;
    bottom: -100px;
  }
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  :root {
    --use-examples-content-width: 100%;
    --use-examples-first-row-frame-width: 100%;
    --use-examples-first-row-height: 300px;
    --use-examples-first-row-frame-height: 180px;
    --use-examples-second-row-height: auto;
  }

  .use-examples-content .first-row {
    margin: 0;
  }

  .use-examples-content .first-row .description {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .use-examples-content .first-row-frame {
    margin-top: 20px;
    overflow-y: hidden;
  }

  .use-examples-content .first-row .frame .advantage-right,
  .use-examples-content .first-row .frame .advantage-left {
    display: none;
  }

  .use-examples-content .second-row {
    flex-direction: column;
    height: auto;
  }

  .use-examples-content .second-row .image-box {
    height: auto;
  }

  .use-examples-content .second-row .row-item {
    height: 430px;
    margin-bottom: 50px;
  }

  .use-examples-content .second-row .left-frame,
  .use-examples-content .second-row .right-frame {
    width: 100%;
  }

  .use-examples-content .second-row .description {
    padding: 8px;
    padding-top: 18px;
  }

  .use-examples-content .second-row .advantage-left {
    bottom: -35px;
    left: 0;
    width: 100%;
  }

  .use-examples-content .description {
    font-size: 1.1rem;
  }

  .use-examples-content .second-row .advantage-right {
    width: 100%;
    left: 0;
  }

  .use-examples-content .third-row .image {
    width: 100%;
  }

  .use-examples-content .third-row .advantage-third-row {
    left: 30px;
    bottom: -100px;
  }
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  :root {
    --use-examples-content-width: 100%;
    --use-examples-first-row-frame-width: 100%;
    --use-examples-first-row-height: 360px;
    --use-examples-first-row-frame-height: 270px;
    --use-examples-second-row-height: auto;
  }

  .use-examples-content .first-row {
    margin: 0;
  }

  .use-examples-content .first-row .description {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .use-examples-content .first-row-frame {
    margin-top: 20px;
    overflow-y: hidden;
  }

  .use-examples-content .first-row .frame .advantage-right,
  .use-examples-content .first-row .frame .advantage-left {
    display: none;
  }

  .use-examples-content .second-row {
    flex-direction: column;
    height: auto;
  }

  .use-examples-content .second-row .image-box {
    height: auto;
  }

  .use-examples-content .second-row .row-item {
    height: 430px;
    margin-bottom: 50px;
  }

  .use-examples-content .second-row .left-frame,
  .use-examples-content .second-row .right-frame {
    width: 100%;
  }

  .use-examples-content .second-row .description {
    padding: 8px;
    padding-top: 18px;
  }

  .use-examples-content .second-row .advantage-left {
    bottom: -35px;
    left: 0;
    width: 100%;
  }

  .use-examples-content .description {
    font-size: 1.1rem;
  }

  .use-examples-content .second-row .advantage-right {
    width: 100%;
    left: 0;
  }

  .use-examples-content .third-row .image {
    width: 100%;
  }

  .use-examples-content .third-row .advantage-third-row {
    left: 40px;
    bottom: -100px;
  }
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  :root {
    --use-examples-content-width: 100%;
    --use-examples-first-row-frame-width: 100%;
    --use-examples-first-row-height: 460px;
    --use-examples-first-row-frame-height: 420px;
    --use-examples-second-row-height: auto;
  }

  .advantage-wrap {
    width: 100%;
  }

  .advantage-text {
    width: 100%;
  }

  .use-examples-content .first-row {
    margin: 0;
  }

  .use-examples-content .first-row .description {
    font-family: 'Montserrat-Regular';
    font-style: normal;
    font-weight: 500;
    font-size: 1rem;
    width: 100%;
    margin: 0;
  }

  .use-examples-content .first-row-frame {
    margin-top: 20px;
    overflow-y: hidden;
  }

  .use-examples-content .first-row .frame .advantage-right,
  .use-examples-content .first-row .frame .advantage-left {
    display: none;
  }

  .use-examples-content .second-row {
    flex-direction: column;
    height: auto;
  }

  .use-examples-content .second-row .image-box {
    height: auto;
  }

  .use-examples-content .second-row .row-item {
    height: 353px;
    margin-bottom: 50px;
  }

  .use-examples-content .second-row .left-frame,
  .use-examples-content .second-row .right-frame {
    width: 100%;
  }

  .use-examples-content .second-row .description {
    padding: 8px;
    padding-top: 18px;
  }

  .use-examples-content .second-row .advantage-left {
    bottom: -35px;
    left: 0;
    width: 100%;
  }

  .use-examples-content .description {
    font-size: 1.1rem;
  }

  .use-examples-content .second-row .advantage-right {
    width: 100%;
    left: 0;
  }

  .use-examples-content .third-row .image {
    width: 100%;
    max-width: 400px;
  }

  .use-examples-content .third-row .advantage-third-row {
    width: 100%;
    left: 0;
    bottom: -70px;
  }
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
