/* Usefull for business */
.usefull-for-business {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  background: #F7F8FA;
}

.usefull-for-business-tag {
  font-family: "Montserrat-SemiBold";
  font-size: 1rem;
  line-height: 1.2rem;
  margin-bottom: 20px;
}

/* list */
.usefull-for-business .list {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 20px;

  width: 100%;
  margin-top: 40px;
  margin-bottom: 60px;
}

/* 01 */
.usefull-for-business .list .item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 24px;
  width: 262.5px;
}

/* image */
.usefull-for-business .list .item .image-box {
  width: 262px;
  height: 262px;

  background: #FFFFFF;
  border-radius: 10px;
}

/* text */
.usefull-for-business .list .item .title-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 12px;
  width: 100%;
}

/* Предвидеть проблемы */
.usefull-for-business .list .item .title-box .title {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 132%; /* identical to box height, or 24px */
  color: #111111;
}

/* Позволяет принимать превентивные меры в случае обнаружения возможных проблем */
.usefull-for-business .list .item .title-box .description {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 160%; /* or 22px */
  color: #111111;
}
