.what-is-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 40px 0;
  gap: 1rem;
  width: 730px;
}

.what-is-description .text {
  font-size: 1.1rem;
  line-height: 1.7rem; /* 146% or 23px */
  text-align: center;
}

.what-is-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 24px;

  width: 920px;
  background: #FFFFFF;
}

/* Frame 67 */
.what-is-content .panel {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 10px;
  min-height: 40px;
}

/* Frame 62 */
.what-is-content .panel .button {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  gap: 12px;
  border-radius: 8px;
  color: #646AF2;
  cursor: pointer;
  transition: background-color 0.4s ease;
  -webkit-transition: background-color 0.4s ease;
}

.what-is-content .panel .button.active {
  background: #7F84FF;
  color: #FFFFFF;
}

/* Union */
.what-is-content .panel .button .icon-table {
  width: 16.33px;
  height: 14px;
  /* background: #FFFFFF; */
  cursor: pointer;
}

/* В табличном виде */
.what-is-content .panel .button .text {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 1.6rem; /* 20px identical to box height */
  cursor: pointer;
}

/* Frame */
/* В виде дашборда */
.what-is-content .panel .button .icon-dashboard {
  width: 20px;
  height: 20px;
}



/* Frame 65 */
.what-is-content .body {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  gap: 10px;

  width: 920px;
  /* height: 690px; */
}

/***************/
/*   TOP ROW   */
/***************/

/* Frame 51 */
.what-is-content .body .top-row {
  position: relative;
  width: 100%;
  height: 360px;
  background: rgba(196, 208, 222, 0.15);
  border-radius: 20px;
  overflow: hidden;
}

/* javascript anim */
.what-is-content .body .top-row .box {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0px;
  margin: 40px auto 0;
  
  width: 730px;
  height: 342px;

  background: rgba(255, 255, 255, 0.1);
  box-shadow: 0px 22px 160px rgba(0, 0, 0, 0.04), 0px 24px 160px rgba(0, 0, 0, 0.05);
  border-radius: 20px 20px 0px 0px;
  
  transition: margin 0.4s ease;
  -webkit-transition: margin 0.4s ease;
}


/* In dashboard */
.what-is-content .body .top-row .box .content-item-wrap {
  position: absolute;
  left: 30px;
  top: 162px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;
  width: 262px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
}
  
/* Frame 1700 */
.what-is-content .body .top-row .box .content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}
  
/* Frame 1690 */
.what-is-content .body .top-row .box .content-item-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 12px 14px;
  gap: 12px;
  background: #FFFFFF;
  border-radius: 8px;
}

/* Дашборд позволяет быстро и точно определить состояние каждого направления бизнеса */
.what-is-content .body .top-row .box .content-item-body-text {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.95rem;
  line-height: 132%; /* or 17px */
  letter-spacing: 0.01em;
  color: #000000;
  margin: 0 auto;
}


/***************/
/*    PANEL    */
/***************/

/* Frame 1688 */
.what-is-content .body .top-row .box .panel {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 8px 18px;
  gap: 26px;
  width: 100%;
  height: 41px;
}

/* Frame 1683 */
.what-is-content .body .top-row .box .panel-icons {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 4px;
  width: 44px;
  height: 12px;
}

.what-is-content .body .top-row .box .panel-icon {
  width: 12px;
  height: 12px;
  border-radius: 50%; /* 80px;*/
}

/* Rectangle 485 */
.what-is-content .body .top-row .box .panel-icon.red {
  background: #FF5F56;
}
  
/* Rectangle 486 */
.what-is-content .body .top-row .box .panel-icon.yellow {
  background: #FFBD07;
}

/* Rectangle 487 */
.what-is-content .body .top-row .box .panel-icon.green {
  background: #00CB2C;
}

/* Frame 1687 */
.what-is-content .body .top-row .box .panel-address {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 0px;
  gap: 70px;
  width: 100%;
  /* width: 621px; */
  height: 25px;
}

/* Frame 1685 - chevrons */
.what-is-content .body .top-row .box .panel-address .chevrs {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 20px;
  margin: 0 auto;
  width: 46px;
  height: 20px;
}

/* chevron */
.what-is-content .body .top-row .box .panel-address .chevron {
  width: 8px;
  height: 12px;
}

.what-is-content .body .top-row .box .panel-address .chevron.right {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  margin-top: 1px;
}

/* Frame 1684 */
.what-is-content .body .top-row .box .panel .address-box {
  box-sizing: border-box;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 4px 10px;
  gap: 6px;
  margin: 0 auto;
  width: 100%;
  /* width: 370px; */
  height: 25px;
  background: rgba(242, 242, 242, 0.5);
  border: 1px solid rgba(229, 229, 229, 0.8);
  border-radius: 6px;
}

/* Frame 1686 */
/* Ритм компании «Мой пекарь» */
.what-is-content .body .top-row .box .panel .address-box .title {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 6px;
  margin: 0 auto;
  /* width: 240px; */
  height: 17px;
}

.what-is-content .body .top-row .box .panel .address-box .title-icon {
  width: 12px;
  height: 12px;
}

.what-is-content .body .top-row .box .panel .address-box .title-text {
  font-size: 0.85rem;
  line-height: 1.1rem; /* identical to box height, 150% or 16px */
  letter-spacing: 0.005em;
  color: #0F1214;
  /* width: 210px; */
}

/* icon */
.what-is-content .body .top-row .box .panel .address-box .refresh {
  width: 10px;
  height: 10px;
}

/* plus */
.what-is-content .body .top-row .box .panel-address .plus {
  margin: 0 auto;
  width: 12px;
  height: 12px;
}

/* CleanShot 2024-05-23 at 23.22 1 */
.what-is-content .body .top-row .box .content {
  width: 100%;
}
  
/**************************/
/*   BOTTOM ROW - TABLE   */
/**************************/

/* Frame 29 */
.what-is-content .body .bottom-row {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  gap: 10px;
  width: 100%;
  height: 320px;
}

/* dashboard */
.what-is-content .body .bottom-row .box {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 28px 40px 0;
  gap: 20px;
  isolation: isolate;
  width: 455px;
  height: 320px;
  background: linear-gradient(0deg, rgba(196, 208, 222, 0.15), rgba(196, 208, 222, 0.15)), #FFFFFF;
  border-radius: 20px;
  overflow: hidden;
}

/* В таблице указываются количественные показатели статистики, отражающие результативность и эффективность. */
.what-is-content .body .bottom-row .box .title {
  width: 350px;
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 1.2rem;
  line-height: 132%; /* or 24px */
  text-align: center;
  z-index: 0;
}

/* Frame 1701 */
.what-is-content .body .bottom-row .box .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  isolation: isolate;
  z-index: 2;
}

/* Frame 1693 */
.what-is-content .body .bottom-row .box .content .item11 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;
  width: 333px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  margin: -2px 0px;
  z-index: 2;
}

/* Frame 1700 */
.what-is-content .body .bottom-row .box .content .item12 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 100%;
  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1690 */
.what-is-content .body .bottom-row .box .content .item13 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 14px;
  gap: 12px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
}

/* Прибыль компании */
.what-is-content .body .bottom-row .box .content .title {
  font-family: "Montserrat-Regular";
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 118%; /* or 15px */
  text-align: left;
  letter-spacing: 0.01em;
  color: #000000;
}

/* 23.02.2023 */
.what-is-content .body .bottom-row .box .content .date {
  font-weight: 500;
  font-size: 0.8rem; /* 11px; */
  line-height: 118%; /* or 13px */
  text-align: center;
  letter-spacing: 0.01em;
  color: #9D9D9D;
}

/* 1 921 500 */
.what-is-content .body .bottom-row .box .content .value {
  font-family: "Montserrat-SemiBold";
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 118%; /* or 15px */
  text-align: right;
  letter-spacing: 0.01em;
  min-width: 65px;
  color: #000000;
}


/* Frame 1695 */
.what-is-content .body .bottom-row .box .content .item21 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;

  width: 313px;
  /* height: 65px; */

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;

  margin: -4px 0px;
  z-index: 1;
}

/* Frame 1700 */
.what-is-content .body .bottom-row .box .content .item22 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 100%;
  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1690 */
.what-is-content .body .bottom-row .box .content .item23 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 14px;
  gap: 12px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
}

/* Frame 1696 */
.what-is-content .body .bottom-row .box .content .item31 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;
  width: 293px;
  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  margin: -4px 0px;
  z-index: 0;
}

/* Frame 1700 */
.what-is-content .body .bottom-row .box .content .item32 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 100%;
  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1690 */
.what-is-content .body .bottom-row .box .content .item33 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 14px;
  gap: 12px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
}


/* dashboard */
/* white-table-by-angle-with-graphical-financial-elem 1 */
.what-is-content .body .bottom-row .box .fon {
  position: absolute;
  width: 450px;
  left: 0px;
  top: 93px;
  z-index: 1;
}

/* Frame 1693 */
.what-is-content .body .bottom-row .box-right .wrap {
  position: absolute;
  left: 251px;
  top: 130px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;

  width: 172px;
  height: 158px;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 2;
}

/* Frame 1700 */
.what-is-content .body .bottom-row .box-right .wrap .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 160px;
  height: 146px;
  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
  overflow: hidden;
}

/* Frame 1689 */
.what-is-content .body .bottom-row .box-right .wrap .content .item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 10px 10px 14px;
  gap: 12px;
  width: 160px;
  background: #FFFFFF;
}

/* 388 116 */
.what-is-content .body .bottom-row .box-right .wrap .content .item .value {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.9rem;
  line-height: 118%; /* or 14px */
  text-align: left;
  letter-spacing: 0.01em;
  color: #000000;
}

/* Frame 1694 */
.what-is-content .body .bottom-row .box-right .wrap .content .item .condition {
  padding: 2px 6px;
  border-radius: 30px;
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 10px;
  line-height: 118%; /* or 12px */
  text-align: right;
}

/* ЧП */
.what-is-content .body .bottom-row .box-right .wrap .content .item .condition.cp {
  background: #FDE5E0;
  color: #AB2018;
}

/* Изобилие */
.what-is-content .body .bottom-row .box-right .wrap .content .item .condition.iz {
  background: #C6D8FB;
  color: #324F7C;
}

/* Норма */
.what-is-content .body .bottom-row .box-right .wrap .content .item .condition.no {
  background: #D7EAF9;
  color: #3E637F;
}


/******************************/
/*   BOTTOM ROW - DASHBOARD   */
/******************************/

/* dashboard */
/* Frame 1695 */
.what-is-content .bottom-row .box .content-d-fon-1-box-wrap {
  position: absolute;
  left: 273px;
  top: 188px;
  
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 6px;

  width: 182px;
  height: 132px;
  
  background: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 2;
}

/* Frame 1700 */
.what-is-content .bottom-row .box .content-d-fon-1-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;
  isolation: isolate;

  width: 170px;
  height: 120px;

  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1689 */
.what-is-content .bottom-row .box .content-d-fon-1-box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 12px;
  gap: 44px;

  width: 170px;
  height: 120px;
  border-radius: 12px;
  background: #FFFFFF;
  z-index: 0;
  overflow: hidden;
}

/* Количество */
.what-is-content .bottom-row .box .content-d-fon-1-box .content .title {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 118%; /* or 13px */
  letter-spacing: 0.01em;
  color: #D1D1D1;
  text-align: left;
  /* width: 71px;
    height: 8px; */
}

/* graph */
.what-is-content .bottom-row .box .content-d-fon-1-box .content .graph {
  position: absolute;
  left: calc(50% - 206px/2 + 10px);
  bottom: -8px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-end;
  padding: 0px;
  gap: 10px;

  width: 206px;
  height: 84px;
  
  z-index: 1;
}


/* Frame 1693 */
.what-is-content .bottom-row .box .content-d-fon-2-box-wrap {
  position: absolute;
  left: calc(50% - 182px/2 - 136.5px);
  top: 188px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 6px;

  width: 182px;
  height: 132px;

  background: rgba(255, 255, 255, 0.6);
  opacity: 0.6;
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 3;
}

/* Frame 1701 */
.what-is-content .bottom-row .box .content-d-fon-2-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 170px;
  height: 120px;

  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1689 */
.what-is-content .bottom-row .box .content-d-fon-2-box .content {
  position: relative;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 12px;
  gap: 12px;
  isolation: isolate;
  border-radius: 12px;
  width: 170px;
  height: 120px;

  background: #FFFFFF;
  overflow: hidden;
}

/* Сумма продаж */
.what-is-content .bottom-row .box .content-d-fon-2-box .content .title {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 0.8rem;
  line-height: 118%; /* or 13px */
  text-align: left;
  letter-spacing: 0.01em;
  color: #D1D1D1;
  /* width: 89px;
  height: 8px; */
  z-index: 0;
}

/* Vector 1 */
.what-is-content .bottom-row .box .content-d-fon-2-box .content .graph {
  position: absolute;
  left: -15px;
  top: 48px;
  border-radius: 1px;
  width: 200px;
  height: 80px;
  z-index: 1;
}

/* Frame 1694 */
.what-is-content .bottom-row .box .content-d-fon-3-box-wrap {
  position: absolute;
  left: calc(50% - 212px/2 + 3.5px);
  top: 132px;

  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 6px;

  width: 212px;
  height: 152px;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.06);
  backdrop-filter: blur(8px);
  border-radius: 20px;

  z-index: 4;
}

/* Frame 1700 */
.what-is-content .bottom-row .box .content-d-fon-3-box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: 2px;

  width: 200px;
  height: 140px;

  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1689 */
.what-is-content .bottom-row .box .content-d-fon-3-box .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  padding: 16px 12px;
  gap: 44px;
  isolation: isolate;

  width: 200px;
  height: 140px;
  border-radius: 12px;
  background: #FFFFFF;
}

/* Ассортимент */
.what-is-content .bottom-row .box .content-d-fon-3-box .content .title {
  width: 94px;
  height: 9px;

  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 118%; /* or 15px */
  text-align: left;
  letter-spacing: 0.01em;

  color: #000000;

  z-index: 0;
}

/* Frame 1708 */
.what-is-content .bottom-row .box .content-d-fon-3-box .content .graph {
  position: absolute;
  left: 12px;
  top: 44px;

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 12px;

  width: 155px;
  height: 84px;

  z-index: 1;
}

/* dashboard box-2 */
.what-is-content .bottom-row .box .content-d-fon2 {
  position: absolute;
  top: 55px;
  right: 0;
  width: 350px;
}

/* Frame 1693 */
.what-is-content .bottom-row .box .content-d2-wrap {
  position: absolute;
  left: calc(50% - 263px/2);
  top: 149px;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 6px;
  gap: 2px;

  width: 263px;

  background: rgba(255, 255, 255, 0.6);
  box-shadow: 0px 4px 42px rgba(0, 0, 0, 0.04);
  backdrop-filter: blur(8px);
  border-radius: 20px;
  z-index: 2;
}

/* Frame 1700 */
.what-is-content .bottom-row .box .content-d2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0px;
  gap: 2px;
  width: 100%;
  background: #F6F8FA;
  box-shadow: 0px 2px 22px rgba(0, 0, 0, 0.08);
  border-radius: 14px;
}

/* Frame 1690 */
.what-is-content .bottom-row .box .content-d2 .content-box {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 22px 14px;
  gap: 12px;
  width: 100%;
  background: #FFFFFF;
  border-radius: 8px;
}

/* Frame 1709 */
.what-is-content .bottom-row .box .content-d2 .content-box .value-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 0px;
  gap: 8px;

  margin: 0 auto;
  width: 182.5px;
}

/* Счет организации */
.what-is-content .bottom-row .box .content-d2 .content-box .value-container .text {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 0.8rem;
  line-height: 118%; /* or 13px */
  text-align: right;
  letter-spacing: 0.01em;
  color: #858585;
}
  
/* 1 921 500 */
.what-is-content .bottom-row .box .content-d2 .content-box .value-container .digit {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 1.1rem;
  line-height: 118%; /* or 18px */
  text-align: right;
  letter-spacing: 0.01em;
  color: #000000;
}

/* Frame 9 */
.what-is-content .bottom-row .box .content-d2 .content-box .result-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 0px;
  gap: 4px;

  margin: 0 auto;
  width: 37px;
}

/* -6% */
.what-is-content .bottom-row .box .content-d2 .content-box .result-container .persent {
  width: 23px;
  height: 15px;

  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: 600;
  font-size: 0.9rem;
  line-height: 126%; /* or 15px */
  color: #CF2D1F;
}


/* Polygon 1 */
.what-is-content .bottom-row .box .content-d2 .content-box .result-container .polygon {
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-top: 8px solid #CF2D1F;
}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  .what-is-description {
    width: 100%;
    margin: 16px 0;
  }

  .what-is-description .text {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .what-is-content {
    width: 100%;
  }

  .what-is-content .panel .button .text {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .what-is-content .body {
    width: 100%;
  }

  .what-is-content .body .top-row .box {
    margin: 0;
  }

  .what-is-content .body .top-row .box .panel-address {
    gap: 10px;
  }

  .what-is-content .body .top-row .box .panel .address-box .title {
    justify-content: left;
  }

  .ml-210 {
    margin-left: 60px !important;
  }

  .what-is-content .body .top-row .box .content-item-wrap {
    left: 20px;
  }

  .what-is-content .body .bottom-row {
    flex-direction: column;
    height: auto;
  }

  .what-is-content .body .bottom-row .box {
    width: 100%;
  }

  .what-is-content .body .bottom-row .box-right .wrap {
    right: 0px;
    left: inherit;
  }

  .what-is-content .body .bottom-row .box .title {
    font-size: 1rem;
  }
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  .what-is-description {
    width: 100%;
    margin: 16px 0;
  }

  .what-is-description .text {
    font-size: 0.9rem;
    line-height: 1.1rem;
  }

  .what-is-content {
    width: 100%;
  }

  .what-is-content .panel .button .text {
    font-size: 0.8rem;
    line-height: 1.1rem;
  }

  .what-is-content .body {
    width: 100%;
  }

  .what-is-content .body .top-row .box {
    margin: 0;
  }

  .what-is-content .body .top-row .box .panel-address {
    gap: 10px;
  }

  .what-is-content .body .top-row .box .panel .address-box .title {
    justify-content: left;
  }

  .ml-210 {
    margin-left: 60px !important;
  }

  .what-is-content .body .top-row .box .content-item-wrap {
    left: 20px;
  }

  .what-is-content .body .bottom-row {
    flex-direction: column;
    height: auto;
  }

  .what-is-content .body .bottom-row .box {
    width: 100%;
  }

  .what-is-content .body .bottom-row .box-right .wrap {
    right: 0px;
    left: inherit;
  }

  .what-is-content .body .bottom-row .box .title {
    font-size: 1rem;
  }
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  .what-is-description {
    width: 100%;
    margin: 16px 0;
  }

  .what-is-description .text {
    font-size: 0.8rem;
    line-height: 1rem;
  }

  .what-is-content {
    width: 100%;
  }

  .what-is-content .panel .button .text {
    font-size: 0.7rem;
    line-height: 1rem;
  }

  .what-is-content .body {
    width: 100%;
  }

  .what-is-content .body .top-row .box {
    margin: 0;
  }

  .what-is-content .body .top-row .box .panel-address {
    gap: 10px;
  }

  .what-is-content .body .top-row .box .panel .address-box .title {
    justify-content: left;
  }

  .ml-210 {
    margin-left: 60px !important;
  }

  .what-is-content .body .top-row .box .content-item-wrap {
    left: 20px;
  }

  .what-is-content .body .bottom-row {
    flex-direction: column;
    height: auto;
  }

  .what-is-content .body .bottom-row .box {
    width: 100%;
  }

  .what-is-content .body .bottom-row .box-right .wrap {
    right: 0px;
    left: inherit;
  }

  .what-is-content .body .bottom-row .box .title {
    font-size: 1rem;
  }
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .what-is-content {
    width: 100%;
  }

  .what-is-content .body {
    width: 100%;
  }

  .what-is-content .body .bottom-row .box {
    width: 50%;
  }

}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
