:root {
  --why-we-content-height: 420px;
}


/* content */
.why-we .content {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  margin-top: 40px;
  padding: 0px;
  gap: 10px;

  width: var(--container);
  height: 420px;
}

/* 1st col */
.why-we .content .column {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  gap: var(--gap-base);

  width: calc((var(--container) - var(--gap-base)) / 2);
  height: var(--why-we-content-height);
}

/* 1 */
.why-we .content .column .box {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 32px 30px;
  gap: 18px;

  width: 550px;
  height: calc((var(--why-we-content-height) - var(--gap-base)) / 2); /* 205px;*/

  background: #F6F8FA;
  border-radius: 20px;
}

.why-we .content .column .box.fullwidth {
  height: var(--why-we-content-height);
}

/* Помогаем определить «ключевые» и «первичные» показатели */
.why-we .content .column .box .title {
  /* width: 490px;
  height: 58px; */
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: 700;
  font-size: 22px;
  line-height: 132%; /* or 29px */
  color: #111111;
}

/* Среди огромного числа возможных показателей поможем выделить «ключевые», а затем те, что на них влияют. */
.why-we .content .column .box .text {
  /* width: 420px;
  height: 63px; */
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: 500;
  font-size: 1rem;
  line-height: 150%; /* or 21px */
  color: #111111;
}

/* Стили для маленьких мобильных устройств (до 320px) */
@media only screen and (max-width: 320px) {
  
}

/* Стили для средних мобильных устройств (321px - 480px) */
@media only screen and (min-width: 321px) and (max-width: 480px) {
  
}

/* Стили для больших мобильных устройств (481px - 767px) */
@media only screen and (min-width: 481px) and (max-width: 767px) {
  
}

/* Стили для планшетов в портретном режиме (768px - 1024px) */
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  
}

/* Стили для планшетов в ландшафтном режиме (1025px - 1280px) */
@media only screen and (min-width: 1025px) and (max-width: 1280px) {
  
}

/* Стили для маленьких экранов компьютеров и ноутбуков (1281px - 1440px) */
@media only screen and (min-width: 1281px) and (max-width: 1440px) {
  
}

/* Стили для средних экранов компьютеров и ноутбуков (1441px - 1920px) */
@media only screen and (min-width: 1441px) and (max-width: 1920px) {
  
}

/* Стили для больших экранов (более 1920px) */
@media only screen and (min-width: 1921px) {
  
}
