doctype html
html
    head
        meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
        title Ссылка на демо-панель "Ритм"
        style.
            .container { padding: 0 50px; font-size: 14px; }


    body.container
        a(href=url_site)
            img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/logo.png?alt=media&token=019bd620-6eea-4024-9e37-9576568ffcb6",  alt="Учебный центр Основа" style="width: 130px;")
        h3 Здравствуйте, 
        p Вы отправили запрос на демонстрационную панель "Ритм".
        br
        p Отправляем вам ссылку на гугл-таблицу с демо-панелью - 
            a(href=url_demo) https://docs.google.com/spreadsheets
        br
        br
        p Если вы не отправляли запрос, просто проигнорируйте это письмо.

        hr
        footer
            p С наилучшими пожеланиями,
            p «Учебный центр Основа»
