doctype html
html
  head
    meta(http-equiv='Content-Type', content='text/html; charset=UTF-8')
    title Ссылка на демо-панель «Ритм»
    style.
      body {
        font-family: arial, 'helvetica neue', helvetica, sans-serif;
        padding-left: 5%;
        padding-right: 5%;
        margin: 0;
        background-color: #F3F7FB;
        color: #1f1f1f;
      }
      .header {
        margin: 16px 50px;
      }
      .container {
        padding: 20px 50px;
        font-size: 14px;
        border-radius: 24px;
        background-color: #ffffff;
      }
      h3 {
        font-family: arial, 'helvetica neue', helvetica, sans-serif;
        font-size: 40px;
        line-height: 48px;
        font-style: normal;
        font-weight: normal;
        margin-bottom: 24px;
      }
      .descr { 
        font-size: 12px; 
        font-style: italic;
      }


  body
    div.header
      a(href=url_site)
        img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/logo-opacity.png?alt=media&token=e5a9c536-db80-4878-9c9a-7dc800227f3b",  alt="Учебный центр Основа" style="width: 100px;")
    
    div.container
      h3 Ссылка на демо-панель 
      p Здравствуйте, Вы отправили запрос на демонстрационную панель руководителя «Ритм».
      p Отправляем ссылку на гугл-таблицу с демо-панелью - 
          a(href=url_demo) https://docs.google.com/spreadsheets

      p.descr (Если это не Вы отправляли запрос, просто проигнорируйте это письмо)
      img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/demo-panel-1.png?alt=media&token=826723a0-2868-4193-8117-1f3f633c2eb2" alt="Картинка демо-панели" style="width: 100%;" )
      br
      br
      p Задать вопросы Вы можете нам&nbsp;
        a(href=telegramm)
          img(src="https://firebasestorage.googleapis.com/v0/b/osnova-course.appspot.com/o/telegram_icon-icons.com_72055.png?alt=media&token=d59ccdb3-75cb-4595-9cb6-5053ce675a23" style="width: 20px;" )
          span &nbsp;в Телеграмм

      p или напишите нам Ваш номер и мы перезвоним.

      br
      hr
      footer
        p С наилучшими пожеланиями, «Учебный центр Основа».
